.workspaces {
  padding: 5px;
  border-radius: $radius-full;
  background-color: $surface;
}

.workspace-item {
  min-height: 12px;
  min-width: 12px;
  border-radius: $radius-full;
  background-color: $on-surface-dim;
  transition: min-width 300ms cubic-bezier(0.34, 0.88, 0.34, 1.0), background-color 150ms linear;

  &.active {
    min-width: 35px;
    border-radius: $radius-full;
    background-color: $accent;    
  }
  
  &.occupied {
    background-color: $on-surface-variant;		
  }
}
