.workspaces {
  padding: $spacing-xs;
  border-radius: $radius-full;
  background-color: $surface;
}

.workspace-item {
  min-height: 12px;
  min-width: 12px;
  border-radius: $radius-full;
  background-color: $on-surface-dim;
  transition: min-width $duration-geometry-default $ease-geometry-default, 
              background-color $duration-color-fast $ease-color-fast;

  &.active {
    min-width: 35px;
    border-radius: $radius-full;
    background-color: $accent;    
  }
  
  &.occupied {
    background-color: $on-surface-variant;		
  }
}