@keyframes ripple {
  from {
    background-size: 0% 0%;
  }

  to {
    background-size: 1000% 1000%;
  }
}

@mixin ripple-effect(
  $color: $pressed-overlay,
  $hover-color: $hover-overlay,
  $hover-duration: $duration-color-default,
  $hover: false
) {
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(circle, transparent 10%, transparent 0%);
  background-size: 1000% 1000%;
  transition-property: background-size, background-image, background-color;
  transition-duration: $ripple-duration, $ripple-fade-duration, $hover-duration;
  transition-timing-function: $ripple-ease, $ripple-ease, $ease-color-default;

  @if $hover {
    &:hover {
      background-color: $hover-color;
    }
  }

  &:active {
    transition-duration: 0ms, 0ms, 0ms;
    animation: ripple $ripple-duration $ripple-ease forwards;
    background-image: radial-gradient(circle, $color 10%, transparent 0%);
    background-size: 0% 0%;
  }
}

@mixin floating-window($radius: $radius-xl, $bg-color: $background) {
  background-color: $bg-color;
  border: 1px solid $surface;
  border-radius: $radius;
}

@keyframes in-out {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@mixin in-out-effect() {
  animation-name: in-out;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}