// Default
// $background: #000000;
// $surface: #404040;
// $surface-variant: #535353;
// $on-surface: #e6e6e6;
// $on-surface-variant: #8c8c8c;
// $on-surface-dim: #595959;

// Material
// $background: #1A1C22;
// $surface: #2C303C;
// $surface-variant: #3A4359;
// $on-surface: #E2E3EC;
// $on-surface-variant: #8C909E;
// $on-surface-dim: #424650;
// $accent: #BDC3FC;
// $accent-variant: #1E2035;
// $accent-dim: #9AA0E0;

// Green
$background: #1A1C16;
$surface: #2C3023;
$surface-variant: #424834;
$on-surface: #E1E4D8;
$on-surface-variant: #7A8068;
$on-surface-dim: #434639;
$accent: #CEE595;
$accent-variant: #1E2712;
$accent-dim: #A8C06A;