@import "./color.scss";
@import "./variables";
@import "./mixins";
@import "modules/workspaces/workspaces.scss";
@import "modules/time/time.scss";
@import "modules/volume/volume.scss";
@import "modules/network/network.scss";
@import "modules/powermenu/powermenu.scss";
@import "modules/music/music.scss";
@import "modules/keyboard/keyboard.scss";
@import "modules/color-picker/color-picker.scss";
@import "modules/sysinfo/sysinfo.scss";
@import "modules/search/search.scss";
@import "modules/screenshot/screenshot.scss";


* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: $font-text;
  font-size: $font-size-sm;
}

// Global Styles
.bar {
  color: $on-surface;
  padding: 5px $spacing-md;
  background-color: $background;
}