.color-picker-trigger {
  min-width: 22px;
  border-radius: 0 $radius-xs $radius-xs 0;
  background-color: $surface;
  @include ripple-effect();
}

.color-picker-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.color-picker-popup {
  @include floating-window($radius-xs);
  padding: $spacing-md;
}

.color-picker-popup-preview {
  min-width: 23px;
  min-height: 22px;
  border-radius: $radius-full;
}

.color-picker-popup-text {
  font-size: $font-size-sm;
  color: $on-surface;
  font-weight: $font-weight-medium;
}

.color-picker-popup-close-btn {
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-full;
  @include ripple-effect($hover: true, $hover-color: $surface);
}

.color-picker-popup-close-text {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $accent;
}