.network-trigger {
  min-width: 22px;
  border-radius: $radius-xs $radius-md $radius-md $radius-xs;
  background-color: $surface;
  @include ripple-effect();
}

.network-trigger-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.switch {
  min-width: 28px;
  min-height: 15px;
  padding: 2px;
  border-radius: $radius-full;
  transition: background-color $duration-color-slow $ease-color-slow;
}

.switch-thumb {
  min-width: 11px;  // height - (padding * 2)
  min-height: 11px;
  border-radius: $radius-full;
  background-color: $on-surface-variant;
  transition: margin $duration-geometry-fast $ease-geometry-fast,
              min-width $duration-geometry-fast $ease-geometry-fast;
}

.switch-thumb-label {
  color: $accent;
  font-family: $font-icon;
  font-size: 11px;
  font-weight: $font-weight-medium;
}

.switch-on {
  background-color: $accent;
}

.switch-off {
  background-color: $surface-variant;
}

.switch-on .switch-thumb {
  min-width: 13px;
  margin-left: 13px;  // total width - thumb width - (padding * 2)
  background-color: $accent-variant;
}

.switch-off .switch-thumb {
  margin-left: 2px;
  margin-right: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.network-popup {
  padding: $spacing-sm;
  @include floating-window();
}

.network-popup-title {
  color: $on-surface;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  padding: $spacing-xs;
  border-radius: $radius-full;
  background-color: $surface;
}

.network-popup-info {
  color: $on-surface;
  font-weight: $font-weight-bold;
  padding: $spacing-sm;
  border-radius: $radius-md;
  background-color: $surface;
}

.network-popup-signal {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $icon-size-lg;
}

.network-popup-status {
  color: $on-surface-variant;
  font-weight: $font-weight-medium;
}

.network-popup-status-off {
  color: $on-surface-variant;
  margin-bottom: $spacing-xxl;
}

.network-notif {
  @include floating-window($radius-xs);
  padding: $spacing-md;
}

.network-notif-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $icon-size-md;
}

.network-notif-text {
  color: $on-surface;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

.network-notif-close-btn {
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-full;
  @include ripple-effect($hover: true, $hover-color: $surface)
}

.network-notif-close-text {
  color: $accent;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}