.network-widget {
  border-radius: 5px 20px 20px 5px;
  background-color: $surface;
}

.network-button {
  padding: 0 7px 0 6px;
}

.network-label {
  font-family: "Material Icons Round";
  font-size: 16px;
}