.network-button {
  padding: 0 6px 0 5px;
  border-radius: 7px 20px 20px 7px;
  background-color: $surface;
  transition: background-color 200ms linear;

  &:active {
    background-color: $surface-variant;
  }
}

.network-label {
  font-family: "Material Icons Round";
  font-size: 15px;
}

.switch {
  min-width: 28px;
  min-height: 12px;
  border-radius: 50px;
  padding: 2px;
  transition: background-color 300ms;
}

.switch-on {
  background-color: $accent;
}

.switch-off {
  background-color: $surface-variant;
}

.switch-thumb {
  min-width: 8px;
  min-height: 8px;
  border-radius: 50px;
  background-color: $on-surface;
  transition: margin 300ms;
}

.switch-on .switch-thumb {
  margin-left: 16px;
  margin-right: 0px;
  background-color: $surface-variant;
}

.switch-off .switch-thumb {
  margin-left: 0px;
  margin-right: 16px;
}

.network-popup {
  padding: 10px;
  border-radius: 18px;
  background-color: $background;
}

.network-popup-title {
  color: $on-surface;
  padding: 3px 5px;
  border-radius: 50px;
  background-color: $surface
}

.network-popup-info {
  color: $on-surface;
  padding: 8px;
  border-radius: 10px;
  background-color: $surface;
}

.network-popup-signal {
  color: $on-surface;
  font-family: "Material Icons Round";
  font-size: 20px;
}

.network-popup-status {
  color: $on-surface-variant;
  font-weight: 500;
}