.time-trigger {
  padding: 0px $spacing-sm 0px $spacing-sm;
  border-radius: $radius-full;
  background-color: $surface;
  @include ripple-effect();
}

.time-trigger-text {
  color: $on-surface;
  font-family: $font-text;
  font-size: $bar-text-size;
  font-weight: $bar-text-weight;
}

.calendar-popup {
  @include floating-window();
}

.calendar-popup-date-box {
  padding: $spacing-lg $spacing-lg $spacing-sm $spacing-lg;
  border-bottom: 2px solid $surface;
}

.calendar-popup-date {
  color: $on-surface;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
}

.calendar-popup-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $icon-size-md;
  font-weight: $font-weight-medium;
}

.calendar-box {
  padding: $spacing-md $spacing-md 0 $spacing-md;
  border-radius: $radius-sm;
}

calendar {
  color: $on-surface;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

calendar {
  & > * {
    padding: $spacing-sm $spacing-xs;
  }
}

calendar.highlight {
  color: $on-surface-variant;
}

calendar:selected {
  color: $error;
}

calendar:indeterminate {
  color: transparent;

}

calendar.header {
  color: $on-surface;
}