.time-trigger {
  padding: 0px $spacing-sm 0px $spacing-sm;
  margin-left: $spacing-xs;
  border-radius: $radius-full;
  background-color: $surface;

  &:active {
    @include ripple-animation()
  }
}

.time-trigger-text {
  font-size: $bar-text-size;
  font-weight: $bar-text-weight;
}

.calendar-popup {
  @include floating-window();
}

.calendar-popup-date-box {
  padding: $spacing-md $spacing-md $spacing-sm $spacing-md;
  border-bottom: 2px solid $surface;
}

.popup-date {
  color: $on-surface;
  font-size: 18px;
  font-weight: 500;
}

.popup-icon {
  color: $on-surface;
  font-family: "Material Icons Round";
  font-size: 18px;
  font-weight: 500;
}

.calendar-box {
  padding: $spacing-sm $spacing-sm 0 $spacing-sm;
  border-radius: $radius-sm;
}

calendar {
  color: $on-surface;
  font-weight: 500;
}

calendar {
  & > * {
    padding: $spacing-sm $spacing-xs;
  }
}

calendar.highlight {
  color: $on-surface-variant;
}

calendar:selected {
  color: $error;
}

calendar:indeterminate {
  color: transparent;

}

calendar.header {
  color: $on-surface;
}