.screenshot-trigger {
  min-width: 22px;
  background-color: $surface;
  @include ripple-effect();
}

.screenshot-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.screenshot-popup {
  background-color: transparent;
}

.screenshot-popup-background {
  padding: $spacing-sm;
  @include floating-window($radius-full);
}

.screenshot-popup-action-btn {
  padding: $spacing-md;
  border-radius: $radius-full;
  background-color: transparent;
  @include ripple-effect($hover: true, $hover-color: $surface);
}

.screenshot-popup-action-icon {
  font-family: $font-icon;
  font-size: $icon-size-md;
  font-weight: $font-weight-medium;
}

.screenshot-popup-action-text {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

.screenshot-popup-action-btn-alt {
  padding: $spacing-lg;
  border-radius: $radius-lg;
  background-color: $error;
  transition: background-color 150ms linear;

  &:hover {
    background-color: $error-dim;
  }
}

.screenshot-popup-action-icon-alt {
  color: $on-error;
  font-family: $font-icon;
  font-size: $icon-size-md;
  font-weight: $font-weight-bold;
}