.power-trigger {
  min-width: 22px;
  min-height: 22px;
  border-radius: $radius-full;
  background-color: $surface;
  @include ripple-effect();
}

.power-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.power-popup {
  @include floating-window($radius: $radius-2xl);
  padding: $spacing-xl $spacing-lg;
}

.power-popup-btn {
  min-width: 100px;
  min-height: 100px;
  border-radius: $radius-full;
  background-color: $surface;
  transition: background-color $duration-color-default $ease-color-default;

  &--pending {
    background-color: $error;
  }
}

.power-popup-btn-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $icon-size-xl;
  font-weight: $font-weight-bold;
  transition: color $duration-color-default $ease-color-default;
}

.power-popup-btn--pending .power-popup-btn-icon {
  color: $on-error;
}

.power-popup-btn-text {
  color: $on-surface;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}