.power-trigger {
  min-width: 22px;
  min-height: 22px;
  border-radius: $radius-full;
  background-color: $surface;

  &:active {
    @include ripple-animation()
  }
}

.power-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.power-popup {
  padding: $spacing-sm;
  @include floating-window();
}

.power-popup-button {
  min-width: 70px;
  padding: $spacing-sm;
  border-radius: $radius-xl;
  background-color: $surface;
  transition: background-color 150ms linear;

  &:hover {
    background-color: $surface-variant;
  }
}

.power-popup-icon {
  font-family: $font-icon;
  font-size: $icon-size-xl;
  font-weight: $font-weight-bold;
}

.power-popup-text {
  color: $on-surface-variant;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
}

.power-confirm {
  padding: $spacing-lg;
  @include floating-window;
}

.power-confirm-text-title {
  color: $on-surface;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.power-confirm-text-description {
  color: $on-surface-variant;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

.power-confirm-btn {
  color: $accent-dim;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  min-width: 75px;
  padding: $spacing-sm 0;
  border-radius: $radius-full;
  background-color: transparent;
  transition: background-color 150ms linear;

  &:hover {
    background-color: $surface;
  }
}