.search-trigger {
  min-width: 22px;
  border-radius: $radius-2xl 0 0 $radius-2xl;
  background-color: $surface;
  @include ripple-effect();
}

.search-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}