.sysinfo-trigger {
  min-width: 22px;
  min-height: 22px;
  border-radius: $radius-full;
  background-color: $surface;
  @include ripple-effect();
}

.sysinfo-trig {
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.sysinfo-popup {
  padding: $spacing-sm;
  @include floating-window();
}

.sysinfo-popup-header {
  color: $on-surface;
  padding: $spacing-sm;
  border-radius: $radius-full;
  background-color: $surface;
}

.sysinfo-popup-header-text {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

.sysinfo-popup-usage {
  padding: $spacing-xs 0;
  border-bottom: 2px solid $surface;
}

.sysinfo-popup-system {
  padding: $spacing-xs 0 0 0;
}

.sysinfo-popup-info {
  padding: $spacing-sm;
  border-radius: $radius-xs;
  background-color: $surface;
}

.sysinfo-popup-info.start {
  border-radius: $radius-md $radius-md $radius-xs $radius-xs;
}

.sysinfo-popup-info.end {
  border-radius: $radius-xs $radius-xs $radius-md $radius-md;
}

.sysinfo-popup-name {
  color: $on-surface;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

.sysinfo-popup-value {
  color: $on-surface-variant;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}