.keyboard-trigger {
  padding: 0 $spacing-sm 0 $spacing-sm;
  border-radius: $radius-full;
  background-color: $surface;
}

.keyboard-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.keyboard-trigger-text {
  font-size: $bar-text-size;
  font-weight: $bar-text-weight;
}