$background: #141318;
$surface: #201f25;
$surface-variant: #2a292f;
$on-surface: #e5e1e9;
$on-surface-variant: #c9c5d0;
$on-surface-dim: #35343a;
$accent: #c6bfff;
$accent-variant: #454077;
//$accent-dim: #e4dfff;
$accent-dim: mix(black, $accent, 15%);
$on-accent: #2f295f;
