// Material Purple
$background: #1C1B1F;
$surface: #2D2B32;
$surface-variant: #46444D;
$on-surface: #E6E1E5;
$on-surface-variant: #CAC4D0;
$on-surface-dim: #3B3940;
$accent: #D0BCFF;
$accent-variant: #21005D;
$accent-dim: #B69DF8;
$on-accent: #21005D;