.music-widget {
  padding: 0 0px 0 0px;
  border-radius: $radius-full;
  background-color: $surface;
}

.music-art {
  min-width: 22px;
  min-height: 22px;
  border-radius: $radius-full;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.music-title {
  font-size: $bar-text-size;
  font-weight: $bar-text-weight;
  color: $on-surface;
}

.music-btn-box {
  padding: $spacing-xs;
  border-radius: $radius-full;
  background-color: $surface-variant;
}

.music-btn {
  border-radius: $radius-full;
}

.music-btn-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.music-btn-icon.play {
  color: $accent;
}

.music-btn-icon.pause {
  color: $accent-dim;
}

// .music-popup {
//   background-color: transparent;
// }

// .music-popup-background {
//   padding: $spacing-sm;
//   border-radius: $radius-xl;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

// .music-popup-text-box {
//   padding: $spacing-xs;
//   border-radius: $radius-sm;
//   background-color: $background;
// }

// .music-popup-title {
//   color: $on-surface;
//   font-size: $font-size-sm;
//   font-weight: $font-weight-bold;
// }

// .music-popup-artist {
//   color: $on-surface-variant;
//   font-size: $font-size-xs;
//   font-weight: $font-weight-medium;
// }

// .music-popup-btn {
//   font-family: $font-icon;
//   font-size: $icon-size-xl;
// }