.music-widget {
  padding: 0 3px 0 0px;
  border-radius: 50px;
  background-color: $surface;
}

.music-art {
  min-width: 24px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.music-title {
  font-size: 12px;
  font-weight: 600;
  color: $on-surface;
}

.music-btn-box {
  padding: 2px;
  border-radius: 50px;
  background-color: $surface-variant;
}

.music-btn {
  font-size: 14px;
  font-family: "Material Icons Round";
  color: $on-surface;
  border-radius: 50px;
}

.music-btn:active {
  color: $accent;
}