.music-widget {
  padding: 0 3px 0 2px;
  border-radius: 50px;
  background-color: $surface;
}

.music-art {
  margin: 1px 0px 1px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 21px;
  border-radius: 50px;
}

.music-title {
  font-size: 11px;
  font-weight: 600;
  color: $on-surface;
}

.music-btn-box {
  padding: 2px 2px 2px 2px;
  border-radius: 50px;
  background-color: $surface-variant;
}

.music-btn {
  font-size: 14px;
  font-family: "Material Icons Round";
  border-radius: 50px;
  color: $on-surface;
}

.music-btn:hover {
  color: white;
}