.volume-trigger {
  min-width: 22px;
  border-radius: $radius-xs;
  background-color: $surface;
  @include ripple-effect();
}

.volume-trigger-icon {
  color: $on-surface;
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.volume-popup {
  padding: $spacing-xs;
  @include floating-window($radius-full);
}

.volume-popup-button {
  min-width: 30px;
  border-radius: $radius-full;
  background-color: $surface;
  @include ripple-effect();
}

.volume-popup-icon {
  color: $on-surface;
  font-size: $icon-size-sm;
  font-weight: $font-weight-medium;
}

.volume-popup-slider slider {
  min-width: 3px;
  min-height: 12px;
  margin-right: 20px;
  border-radius: $radius-full;
  background-color: $accent-dim;
  transition: background-color 150ms linear;

  &:hover {
    background-color: $on-accent;
  }
}

.volume-popup-slider trough {
  min-height: 30px;
  border-radius: $radius-full;
  background-color: $surface;
}

.volume-popup-slider highlight {
  min-width: 32px;
  border-radius: $radius-full;
  background-color: $accent;
}

.volume-popup-slider.muted highlight {
  background-color: $surface-variant;
}

.volume-popup-slider.muted slider {
  min-width: 0;
  min-height: 0;
}

.volume-popup-slider.low slider {
  min-width: 0;
  min-height: 0;
}

.volume-popup-slider-icon {
  color: $on-accent;
  font-family: $font-icon;
  font-size: $icon-size-md;
  font-weight: $font-weight-medium;
}