.volume-trigger {
  min-width: 22px;
  border-radius: $radius-xs;
  background-color: $surface;

  &:active {
    @include ripple-animation()
  }
}

.volume-trigger-icon {
  font-family: $font-icon;
  font-size: $bar-icon-size;
  font-weight: $bar-icon-weight;
}

.volume-popup {
  padding: $spacing-xs;
  @include floating-window($radius-full);
}

.volume-popup-button {
  min-width: 30px;
  border-radius: $radius-full;
  background-color: $surface;

  &:active {
    @include ripple-animation()
  }
}

.volume-popup-icon {
  font-size: $icon-size-sm;
  font-weight: $font-weight-medium;
}

.volume-popup-slider slider {
  min-width: 0px;
  min-height: 0px;
}

.volume-popup-slider trough {
  border-radius: $radius-full;
  min-height: 30px;
  background-color: $surface;
}

.volume-popup-slider highlight {
  border-radius: $radius-full;
  min-width: 32px;
  background-color: $accent;
}

.volume-popup-slider-icon {
  color: $background;
  font-family: $font-icon;
  font-size: $icon-size-md;
}