.volume-button {
  padding: 0 6px 0 5px;
  border-radius: 5px;
  background-color: $surface;
  transition: background-color 200ms linear;

  &:active {
    background-color: $surface-variant;
  }
}

.volume-icon {
  font-family: "Material Icons Round";
  font-size: 15px;
}

.vol-popup {
  padding: 5px;
  border-radius: 50px;
  background-color: $background;
}

.vol-popup-button {
  min-width: 33px;
  border-radius: 50px;
  background-color: $surface;
  transition: background-color 200ms linear;

  &:active {
    background-color: $surface-variant;
  }
}

.vol-popup-icon {
  font-size: 15px;
}

.vol-popup-slider slider {
  min-width: 0px;
  min-height: 0px;
}

.vol-popup-slider trough {
  border-radius: 50px;
  min-height: 30px;
  background-color: $surface;
}

.vol-popup-slider highlight {
  border-radius: 50px;
  min-width: 33px;
  background-color: $accent;
}

.vol-popup-slider-icon {
  color: $background;
  font-family: "Material Icons Round";
  font-size: 17px;
}